h1 {
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

h4 {
    font-weight: bold;
}

#search-button {
    width: 100%;
}

#current-uv {
    width: 150px
}

.w3-card {
    margin: 1%;
}

.past-city {
    width: 100%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}